.section-spacer {
  height: 2vh;
  /* Adjust for more/less empty scroll distance */
  background-color: var(--bg-color);
  width: 100%;
}

@media (max-width: 768px) {
  .section-spacer {
    height: 1vh;
  }
}